{% extends 'base.html.twig' %}

{% block title %}Crear un nuevo usuario{% endblock %}

{% block body %}
    <h1>Crear un usuario</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Volver</a>
{% endblock %}
