{% extends 'base.html.twig' %}

{% block title %}Error{% endblock %}

{% block body %}
    <h1>Lo sentimos</h1>

    <p>{{ message }}</p>

    <a href="{{ path('user_index') }}">Volver</a>
{% endblock %}
